<template>
<v-container>
<v-card>
  <v-card-title>{{ title }}</v-card-title>
  <v-form ref="form" class="pa-5">
      <v-text-field
        v-model="task.name"
        @input="setName(task.name)"
        label="タスク名"
        :class="{ 'form-group--error': $v.name.$error }"
      >
      </v-text-field>
      <div class="validate-error" v-if="isChanged.name && !$v.name.required">※必須入力項目です</div>

    <v-slider
      label="進捗(%)"
      min=0
      max=100
      v-model="task.percent"
    >
      <template v-slot:append>
        <v-text-field
          v-model="task.percent"
          class="mt-0 pt-0"
          hide-details
          single-line
          type="number"
          style="width: 60px"
        ></v-text-field>
      </template>
    </v-slider>

    <v-menu
      v-model="limit"
      :close-on-content-click="false"
      :nudge-right="40"
      transition="scale-transition"
      offset-y
      min-width="290px"
    >
      <template v-slot:activator="{ on }">
        <v-text-field
          v-model="task.limit"
          label="期限"
          readonly
          v-on="on"
        ></v-text-field>
      </template>
      <v-date-picker
        v-model="task.limit"
        @input="limit = false"
        no-title
        locale="ja-jp"
        :day-format="date => new Date(date).getDate()"
      ></v-date-picker>
    </v-menu>
    <v-row justify="center">
      <v-btn v-if="isRegister" @click="submit" large color="info">登録</v-btn>
      <v-btn v-else @click="update" large color="info">更新</v-btn>
    </v-row>
  </v-form>
</v-card>
</v-container>
</template>

<script>
import { mapActions } from 'vuex'
import { required } from 'vuelidate/lib/validators'

export default {
  name: 'Form',
  created() {
    this.task = {};
    const taskId = this.$route.params.id
    document.title = this.title = 'タスク登録'
    if (!taskId) return

    const task = this.$store.getters.fetchTaskById(taskId)
    if (!task) return

    this.task = {
      name: task.name,
      percent: task.percent,
    }
    if (task.limit) this.task['limit'] = task.limit

    this.isRegister = false
    document.title = this.title = 'タスク編集'
  },
  methods: {
    setName(name) {
      this.name = name
      this.$v.name.$touch()
      this.isChanged.name = true
    },
    submit() {
      this.setName(this.task.name)
      if (this.$v.$error) return
      this.isPushed = true
      this.addTask(this.task).then(this.done())
    },
    update() {
      if (this.$v.$error) return
      this.updateTask( { id: this.$route.params.id, task: this.task }).then(this.done())
    },
    done() {
      this.task = {}
      this.$router.push({ name: 'Tasks' }, () => {}, () => {})
    },
    ...mapActions(['addTask', 'updateTask'])
  },
  validations: {
    name: {
      required
    },
  },
  watch: {
    '$route' (to, from) {
      if (from.name === 'Edit' && to.name === 'Add') {
        this.isRegister = true
        this.task = {}
        document.title = this.title = 'タスク登録'
      }
    }
  },
  data () {
    return {
      task:{},
      limit: null,
      isRegister: true,
      name: '',
      isChanged: {
        name: false,
      }
    }
  }
}
</script>
<style lang="scss">
.v-application {
  .form-group--error {
    .v-input__slot {
      border-bottom-color: red;
    }
  }
  .validate-error {
    font-size: 0.7rem;
    color: red;
    margin-top: -1.3rem;
  }
}
</style>
