<template>
  <v-container>
    <v-data-table
      :headers="headers"
      :items="tasks"
      :footer-props="{
        'items-per-page-text': '1ページあたりの表示件数',
        'items-per-page-all-text': 'すべて表示'

      }"
      multi-sort
      class="elevation-3"
    >
      <template v-slot:item.name="{ item }">
        <router-link :to="{ name: 'Edit', params: {id: item.id} }">{{ item.name }}</router-link>
      </template>
      <template v-slot:item.delete="{ item }">
        <v-icon small @click="showConfirmModal(item.id)">mdi-delete</v-icon>
      </template>
      <template v-slot:footer.page-text="{ pageStart, pageStop }">
        {{tasks.length}} 件中 {{ pageStart }}件 ～ {{ pageStop }}件
      </template>
    </v-data-table>
    <div class="text-center">
      <v-dialog
        v-model="dialog"
        width="500"
      >
        <v-card>
          <v-card-title
            class="headline lighten-2"
            primary-title
          >
            消去しますか？
          </v-card-title>

          <v-card-text>
            消去後、元には戻せません
          </v-card-text>

          <v-divider></v-divider>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              text
              @click="dialog = false"
            >
              キャンセル
            </v-btn>
            <v-btn
              color="primary"
              text
              @click="remove(deleteId)"
            >
              消去
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex'
import firebase from 'firebase'

export default {
  name: 'Tasks',
  components: {
  },
  created () {
    firebase.auth().onAuthStateChanged(()=> {
      this.fetchTasks()
      this.tasks = this.$store.state.tasks
    })
    document.title = 'タスク一覧'
  },
  data () {
    return {
      headers:[
        {text: 'タスク名', value: 'name'},
        {text: '進捗(%)', value: 'percent'},
        {text: '期限', value: 'limit'},
        {text: '', value: 'delete'},
      ],
      dialog: false,
      deleteId: null,
      tasks: []
    }
  },
  methods: {
    showConfirmModal(id) {
      this.dialog = true
      this.deleteId = id
    },
    remove(id) {
      this.deleteTask(id)
      this.dialog = false
    },
    ...mapActions(['fetchTasks', 'deleteTask'])
  }
}
</script>
