<template>
  <v-navigation-drawer
    v-model="$store.state.isOpen"
    fixed
    right
    temporary
  >
    <template>
      <v-list-item>
        <v-list-item-avatar>
          <img :src="photoURL">
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title>{{ userName }}</v-list-item-title>
          <v-list-item-subtitle>{{ email }}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </template>
    <v-list-item>
      <v-list-item-content dense align="center">
        <v-btn @click="logout">
          <span>ログアウト</span>
          <v-icon>mdi-logout-variant</v-icon>
        </v-btn>
      </v-list-item-content>
    </v-list-item>

    <v-divider></v-divider>

    <v-list dense>
      <v-list-item
        v-for="item in items"
        :key="item.title"
      >
        <v-list-item-icon>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <router-link :to="{name: item.link}">
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </router-link>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  data () {
    return {
      items: [
        { title: 'タスク登録', link: 'Add', icon: 'mdi-plus-outline' },
        { title: 'タスク一覧', link: 'Tasks', icon: 'mdi-format-list-bulleted' },
      ],
    }
  },
  methods: {
    ...mapActions(['logout']),
  },
  computed: {
    ...mapGetters([
      'userName',
      'photoURL',
      'email'
    ])
  }
}
</script>