<template>
  <v-app>
    <v-app-bar v-if="$store.state.user"
      app
      color="orange"
      dark
    >
      <router-link class="top" to="/">
        Task Manager
      </router-link>
      <template>
        <v-spacer></v-spacer>
        <v-icon @click="toggleSideMenu">mdi-menu</v-icon>
      </template>
    </v-app-bar>

    <v-content>
      <router-view/>
      <SideNav v-if="$store.state.user"/>
    </v-content>
  </v-app>
</template>

<script>
import SideNav from './components/SideNav'
import firebase from 'firebase'
import { mapActions } from 'vuex'

export default {
  name: 'App',
  components: {
    SideNav
  },
  created() {
    firebase.auth().onAuthStateChanged(user => {
      if (user) {
        this.setUser(user)
        this.$router.push({ name: 'Tasks' }, () => {}, () => {})
      } else {
        this.releaseUser()
        this.$store.state.isOpen = false
        this.$router.push({ name: 'Login' }, () => {}, () => {})
      }
    })
  },
  methods: {
    ...mapActions([
      'toggleSideMenu',
      'setUser',
      'releaseUser',
    ]),
  },
  data: () => ({
  }),
}
</script>
<style lang="scss">
.v-application {
  a.top{
    font-size: 1.3rem;
    color: white;
    text-decoration:none;
  }
}
</style>