<template>
  <v-container fill-height>
    <v-card class="mx-auto">
      <v-card-title>Task Managerへログイン</v-card-title>
      <v-card-subtitle>タスクを管理することができます</v-card-subtitle>
      <v-card-text>
        <v-btn color='info' @click="googleLogin">Googleアカウントでログイン</v-btn>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  created() {
    document.title = 'ログイン'
  },
  name: 'Login',
  components: {
  },
  methods: {
    ...mapActions(['googleLogin'])
  }
}
</script>
<style lang="scss" scoped>
</style>
